*{
    Font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}
aside li img {
    vertical-align: middle;
    display:inline-block;
    width: 3rem;
    height: auto;
    border-radius: 50%;
}
hr {
    height: .5px;
    background-color: rgb(218, 218, 218);
    color: white;
}
aside li div p{
    padding: 0;
    margin: 0;
    height: 1.5rem;
    line-height: normal;
}
aside li div {
    vertical-align: middle;
    margin-left: 1rem;
    margin-top: 0;
    height: 3rem;
    line-height: 3rem;
    display:inline-block;
}    
aside h1{
    margin: .5rem;
}
aside ul li {
    vertical-align: middle;
    margin: .5rem;
    cursor: pointer;
}
aside ul{
    list-style-type:none;
    padding: 0.5rem;
}
body aside{
    width: 20rem;
    background-color: #f5f5f5;
    float: right;
    display:inline-block;
    /* border: solid; */
    border-color: black;
}
body section{
    width: calc(100% - 21rem);
    display:inline-block;
    /* border: solid; */
    border-color: black;
}
body section section{
    width: calc(100% - 6px);
    /* border: solid; */
    border-color: black;
    /* text-align: center; */
}

img.imgHeader{
    display:inline-block;
    vertical-align: middle;
    /* display:inline-block; */
    width: 3rem;
    height: auto;
    border-radius: 50%;
    margin: .5rem;
    margin-left: 1rem;
    /* float: left; */
}
div.header h1{
    display:inline-block;
    margin-left: 1rem;
}

div.header{
    /* border: solid; */
    border-color: black;
    margin-right:auto;
    margin-left:auto;
    /* text-align: center; */
    width: 80%;
}
/* body section section article header{
    border: solid;
    border-color: black;
} */
/* body section section img{
    width: 80%;
    height: auto;
} */
/* body section section article{ */
    /* text-align: center; */
/* } */
article form {
    margin-bottom: 1rem;
}
body section article{
    /* text-align: center; */
    margin: .5rem;
    /* border: solid; */
    border-color: black;
}
body > header > img {
    float: right;
    margin-top: 1.5rem;
    display:inline-block;
    padding: 0;
    margin-right: 1rem;
    width: 5rem;
    height: auto;
    border-radius: 50%;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 8rem;
    background: #9d9df8;
    box-shadow: 0 5px 0 rgba(93, 91, 255, 0.125);
}
header h1{
    display:inline-block;
    padding-left: 2rem;
    font-size: 3rem;
    color: rgb(39, 60, 250);
}
.fotoPost{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* object-fit: fill; */
    /* object-fit: scale-down;
    object-fit: none; */
    /* object-fit: contain; */
    /* object-fit: cover; */
    width: inherit;
    height: inherit;
    max-width: 80%;
}
#uploadImage img{
    margin: 1rem;
    height: 15rem;
    width: 15rem;
    object-fit: scale-down;
    object-fit: cover;
    vertical-align: middle;
    display:inline-block;
}
#uploadImage h1{
    text-align: center;
    font-size: xx-large;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #72787e;
}
#uploadImage form{
    vertical-align: middle;
    width: 50%;
    /* (100% - 16rem); */
    display:inline-block;
}
#uploadImage form label{
    font-size: 1.5rem;
    margin-right: 1rem;
}
#uploadImage form input{
    /* width: 100%; */
    height: 1.5rem;
    border-radius: 5px;
    margin-left: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
form input[type=text]{
    padding: 0;
    border:  1 px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    font-size: 1rem;
    width: calc(100% - 4px);
}
#amigos{
    margin-top: 9rem;
}
#container{
    margin-top: 9rem;
}
.listFavs{
    /* border: solid; */
    border-color: black;
}
.fav {
    background-image: url(fav2.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
}
.nombreUser{
    font-weight: 1000;
}
.emailUser{
    color: rgb(128, 128, 128);
}
.comment {
    background-image: url(comment-test-fotoLarga.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
}
.fav:hover
{
    background-position: right;
}
.comment:hover
{
    background-position: right;
}


@-webkit-keyframes heartTransition
{
    0% {background-position: left;}
    100% {background-position: right;}
}

@keyframes heartTransition
{
    0% {background-position: left;}
    100% {background-position: right;}
}

.heart_animate
{
    background-image: url(fav2.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: heartTransition;
    -webkit-animation-timing-function: steps(28);
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-name: heartTransition;
    animation-timing-function: steps(28);
    background-position: right;
}
.footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.crearComentario{
    font-size: 1rem;
    height: 2rem;
    border: 0;
    padding: 0;
    width: calc(100% - 1rem);
    margin-right: .5rem;
    margin-left: .5rem;
}
.liFav{
    font-weight: 1000;
}
.liFavAnteUltimo{
    font-weight: 1000;
}
.autor{
    font-weight: 1000;
}
.comentarioAutor{
    font-weight: 1000;
}
.nadie::after{
    content: '\00a0';
}
.listComentarios{
    margin: 0;
    padding: 0;
}
.liComentario{
    list-style: none;
    height: auto; 
}
.liComentario > p{
    /* margin-top: 0; */
    display: inline-block;
    margin: 0;
    margin-right: 4px;
}
.nadie{
    font-weight: 1000;
}
.descripcion > p{
    display: inline-block;
    margin: 0;
    margin-right: 4px;
}
.descripcion{
    margin-top: 0;
    height: auto;
}
.listFavs{
    height: 2.5rem;
    white-space: pre;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-left: .5rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    overflow: auto;
}
.liFav::after{
    content: ", ";
}
.publicar {
    width: 100%;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 1000;
    line-height: 20px;
    padding: 4px 16px;
}
#fav img{
    display: inline-block;

}
.publicar:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.publicar:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
